@tailwind base;
@tailwind components;
@tailwind utilities;



.tab-navigation {
    font-family: Arial, sans-serif;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    color: black;
    background: none;
    font-weight: 600;
    outline: none;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #60A5FA;
}

.tab.active {
    /* border-bottom: 3px solid #60A5FA; */
    font-weight: bold;
    background: #04131F;
    color: #60A5FA;
}

.tab-content {
    color: black;
    padding: 20px;
    /* background-color: rgba(234, 240, 240, 0.15);
    backdrop-filter: blur(3px); */
}


.skill-datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 250px;
    font-size: 10pt;
}


.frosted-glass {
    background-color: rgba(234, 240, 240, 0.15);
    backdrop-filter: blur(3px);
}


#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 0;
    background: url('./images/blueMark2.png');
    cursor: pointer;
    box-sizing: border-box;
    transform: rotate(90deg);
}

#slider::-moz-range-thumb {
    width: 24px;
    height: 25px;
    border: 0;
    background: url('./images/blueMark2.png');
    cursor: pointer;
    box-sizing: border-box;
}